.inputFormContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  padding: 2rem .5rem;
}

.inputFormContainer input {
  resize: none;
  font-size: 14px;
  border-radius: 3px;
  border: 2px solid #426696;
  outline: none;
  padding: 0.5rem 1rem;
  width: 90%;

}
.inputFormContainer input::placeholder {
  color: #426696;
  font-weight: 600;
  opacity: 1;
  text-align: left;
}
.inputFormContainer .summary {
  padding: 2rem 1rem;
}

.danger p{
  color: rgb(189, 35, 35);

}