.formContainer {
  position: relative;
  overflow: hidden;
  min-width: 95vw;
  min-height: 95vh;
  border-radius: 2rem;
  
}

.img1,
.img2 {
  width: 30%;
  position: absolute;
  z-index: 1;
}
.img1 {
  bottom: -20vh;
  right: -10vh;
}
.img2 {
  bottom: 50vh;
  left: -18vh;
}

@media only screen and (min-width: 1000px) {
  .formContainer {
    min-width: 90vw;
    min-height: 80vh;
  }
  .img1 {
    top: -20vh;
    right: -10vh;
  }
  .img2 {
    bottom: 0vh;
    left: -18vh;
  }
}
@media only screen and (min-width: 1300px) {
  .formContainer {
    min-height: 85vh;
    min-width: 60vw;
  }
  .formContainer img {
    width: 30%;
  }
}
